<div class="col-xs-6 animate__animated animate__fadeIn" style="text-align: center;">
    <div class="card">
        <div class="card-header">
            Interval
        </div>
        <div class="card-body" id="elemento">
            <blockquote class="blockquote mb-0">
                <p style="font-size:16px;">{{ aux }} seg.<p>
                        <p style="font-size:16px;">({{ coordX }} x , {{coordY }} y)<p></p>
                        <footer class="blockquote-footer">En el ejemplo se ejecuta un contador utilizando interval y timeout. Con frontEvent se capturan las coordenadas del cursor dentro de la tarjeta</footer>
            </blockquote>
        </div>
    </div>
</div>
<br/>
<div class="col-xs-6" style="text-align: center;">
    <div class="card">
        <div class="card-header">
            Interval
        </div>
        <div class="card-body" id="elemento">
            <blockquote class="blockquote mb-0">
                <p style="font-size:16px;">{{ bufferValue }} </p>
                        <footer class="blockquote-footer">Ejemplo de  utilización de timeBuffer</footer>
            </blockquote>
        </div>
    </div>
</div>