
<div class="card animate__animated animate__fadeIn">
    <div class="card-header">
        Subject - Behaivour Subject - Multicast
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
               
        <p>Observable A: <label  style="color:#E76F51">{{ osbA }} </label> - Observable B <label  style="color:#E76F51"> {{ osbB }} </label></p>

        <p> Contador: <label style="color:#E76F51"> {{ time }} </label> - Coordenadas del click:  <label  style="color:#E76F51">{{ coordX }}x ,  {{ coordY }}y </label> </p>
        
        <footer class="blockquote-footer"> Subject: Dos subscripciones a un subject sumando 1. Para ver los resultados de Multicast ver la consola</footer>
      </blockquote>
    </div>
  </div>