<div class="card animate__animated animate__fadeIn">
    <div class="card-header">
        Map, Filter, Tap
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <div *ngFor="let num of numeros"><p style="font-size:16px;">{{ num }}<p></div>
        <p *ngIf="estado">Estado: <label  style="color:#E76F51">{{ estado }} </label> - Tipo: <label  style="color:#E76F51"> {{ tipo }} </label></p>
        <footer class="blockquote-footer">El ejemplo usa una lista de números y aplica el cuadrado a los números divisibles por 2. Con tap se procesa un click y se definen funciones de error</footer>
      </blockquote>
    </div>
  </div>