<div class="card animate__animated animate__fadeIn" style="text-align: center;">
    <div class="card-header">
        Map, Filter, Tap
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0"> 
        <div class="row btn-btn" style="align-items: center;">
        <button type="button" class="btn btn-secondary" id="pause" #pause>Pause</button>

        <button type="button" class="btn btn-primary" id="resume" style="margin-right: 5px;" #resume>Resume</button>
        
        <p id="remaining" #remaining></p>
      </div>
      <div class="row btn-btn">
        <p>{{ concat }}</p>
      </div>
        
        <footer class="blockquote-footer">Ejemplo de merge-map, switch-map, concat-map (ver consola)</footer>
      </blockquote>
    </div>
  </div>